{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended", "plugin:jsdoc/recommended"],
  "plugins": ["prettier", "jsdoc", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
